@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    margin: 0;
    font-family: 'Special Elite', cursive;
    background: linear-gradient( to left, #a397aa, #e6d5ba);
}
.social-container {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-container a {
    margin-right: 1rem;
}
.nav-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-container a {
    padding: 8px;
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.nav-container a:hover {
    color: white;
}

.hero-container{
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.hero-container .title {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 70px;
}
.hero-container .title .jairo {
    width: 86px;
    font-size: 25px;
    background-color: white;
}
.hero-container .title .taracena {
    font-size: 25px;
    background-color: white;
}
.hero-container img {
    width: 250px;
    margin-right: 15px;
}
