@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    margin: 0;
    font-family: 'Special Elite', cursive;
    background: linear-gradient( to left, #a397aa, #e6d5ba);
}

.social-container {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-container a {
    margin-right: 1rem;
}
.nav-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-container a {
    padding: 8px;
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.nav-container a:hover {
    color: white;
}
main {
    min-width: 320px;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
}
.hero-container{
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.hero-container .title {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 70px;
}
.hero-container .title .jairo {
    width: 86px;
    font-size: 25px;
    background-color: white;
}
.hero-container .title .taracena {
    font-size: 25px;
    background-color: white;
}
.hero-container img {
    width: 250px;
    margin-right: 5%;
}
@media screen and (min-width: 350px) {
    .hero-container img {
        margin-right: 10%;
    }
}

@media screen and (min-width: 600px) {
    main {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .hero-container {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .hero-container .title .jairo {
        width: 100px;
        font-size: 36px;
    }
    .hero-container .title .taracena {
        font-size: 36px;
    }
    .hero-container img {
        width: 430px;
        margin-right: 12%;
    }
}

@media screen and (min-width: 900px) {
    header {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
    }
    main {
        max-width: 80%;
        margin-top: 60px;
    }
    .nav-container {
        flex-direction: initial;
    }
    .nav-container a {
        font-size: 22px;
    }
    .hero-container .title {
        left: 140px;
    }
    .hero-container .title .jairo {
        width: 145px;
        font-size: 50px;
    }
    .hero-container .title .taracena {
        font-size: 50px;
    }
    .hero-container img {
        width: 600px;
    }
}

@media screen and (min-width: 1200px) {
    main {
        margin-top: 0px;
    }
    .hero-container .title {
        left: 160px;
    }
    .hero-container .title .jairo {
        width: 175px;
        font-size: 60px;
    }
    .hero-container .title .taracena {
        font-size: 60px;
    }
    .hero-container img {
        width: 700px;
        margin-right: 20%;
    }
}